<div class="navbar">
  <div class="containerLinks">
    <a href="http://localhost:2022/products">Productos</a>
    <a href="http://localhost:2022/carts/{{cart}}">Carrito</a>
    <a href="http://localhost:2022/profile">Perfil</a>
    <a href="http://localhost:2022/users/logout">Cerrar sesion</a>
  </div>
</div>

<div style="margin: 10%;">
    <h1 class="title">
        Tu compra se ha realizado con exito! revisa tu mail para poder ver el ticket de la misma.
    </h1>
    <h2 class="title">
        Gracias por confiar en nosotros.🥳
    </h2>
</div>

<link rel="stylesheet" href="/css/style.css" />