<h1 class="title">Añade productos al catálogo</h1>

<form class="form" action="/api/products" method="post">
    <span class="span">Nombre:</span> <input class="input" type="text" name="title" id="title">
    <span class="span">Descripción: </span><input class="input" type="text" name="description" id="description">
    <span class="span">Precio:</span> <input class="input" type="number" name="price" id="price">
    <span class="span">Stock:</span> <input class="input" type="number" name="stock" id="stock">
    <span class="span">Código: </span><input class="input" type="text" name="code" id="code">
    <span class="span">Categoría:</span> <input class="input" type="text" name="category" id="category">
    <button class="btn" type="submit" style="margin-top: 2%; margin-bottom:5%">
        Crear
    </button>
</form>

<link rel="stylesheet" href="/css/style.css" />