<h1 class="title">Añade productos al catálogo</h1>

<form class="form" action="/api/products" method="post">
    Nombre: <input type="text" name="title" id="title">
    Descripción: <input type="text" name="description" id="description">
    Precio: <input type="number" name="price" id="price">
    Stock: <input type="number" name="stock" id="stock">
    Codigo: <input type="text" name="code" id="code">
    Categoría <input type="text" name="category" id="category">
    <button class="btn" type="submit" style="margin-top: 3%;">
        Crear
    </button>
</form>

<link rel="stylesheet" href="/css/style.css" />