<h1 class="title">
    Error al intentar iniciar sesión.
</h1>
<a href="/register">
    ¿No tienes cuenta? Regístrate
</a>
<div class="containerButton"> 
    <button class="btn" type="submit" onclick="location.href='/'">
    Reintentar
</button>
</div>