<h1 class="title">
    Error al intentar iniciar sesión.
</h1>

<div class="containerSubtitle">
    <a class="link" style="text-align: center;" href="/register">
        ¿No tienes cuenta? Regístrate
    </a>
</div>

<div class="containerButton"> 
    <button class="btn" type="submit" onclick="location.href='/'">
    Reintentar
</button>
</div>