<h1 class="title">
  Se produjo un error en tu intento de registro. Este puede haber sido causado
  por introducir datos no válidos o que ya pertenecen a un usuario registrado.
</h1>
<div class="containerButton">
  <button class="btn" type="submit" onclick="location.href='/'">
    Volver a intentarlo
  </button>
</div>