<h1 class="title">¡Cree su nueva contraseña!</h1>
<p class="h2" style="color: brown;">
    La contraseña no puede ser igual a la que tenias anteriormente.
</p>

<form class="form" action="/users/new-password/{{userId}}/{{token}}" method="post">
    Contraseña nueva: <input type="password" name="password" id="password" class="input">
    <button class="btn" type="submit" style="margin-top: 3%;"> 
        Enviar
    </button>
</form>

<link rel="stylesheet" href="/css/style.css" />