<h1 class="title">
Regístrese aquí debajo 
</h1>
<div class="form">
  <form action="/users/register" method="post" class="form" style="width:100%">
    Nombre:
    <input type="text" name="first_name" id="first_name" class="input" />
    Apellido :
    <input type="text" name="last_name" id="last_name" class="input" />
    Email:
    <input type="email" name="email" id="email" class="input" />
    Edad:
    <input type="number" name="age" id="age" class="input" />
    Contraseña:
    <input type="password" name="password" id="password" class="input" />
    <button type="submit" class="btn" style="margin-top: 3%;">
      Registrarse
    </button>
  </form>
</div>
<div class="containerButton" style="margin-top: 20px;">
  <a href="/">
    Volver al inicio
  </a>
</div>