<h1 class="title">Reseteo de contraseña</h1>
<p class="h2">Ingrese su email, se le enviará un enlace para resetear su contraseña en el corto plazo.</p>

<form class="form" action="/users/reset-password" method="post">
    Email: <input type="email" name="email" id="email" class="input">
    <button class="btn" type="submit" style="margin-top: 3%;">
        Enviar
    </button>
</form>
