
<div class="navbar">
  <div class="containerLinks">
    <a class="link" href="http://localhost:2022/products">Productos</a>
    <a class="link" href="http://localhost:2022/carts/{{cart}}">Carrito</a>
    <a class="link" href="http://localhost:2022/profile">Perfil</a>
    <a class="link" href="http://localhost:2022/users/logout">Cerrar sesión</a>
  </div>
</div>

<h1 class="title">Lista de usuarios NO administradores.</h1>
<div class="containerUsers">
  {{#each users}}
    <div class="containerUser">
      <a
        class="texto"
        href="http://localhost:3000/users/{{this._id}}"
      >{{this.first_name}} {{this.last_name}}</a>
    </div>
  {{/each}}
</div>